body{
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    padding: 200px 0 0 0 ;
    background-color: rgb(38, 46, 49);
}
canvas{
    margin: 0 10px 0 10px;
    border: 1px solid black;
    border-radius: 25px;
    color: blueviolet;
    background-color: white;
    
}
.container {
    display: flex;
    flex-direction: row;
    

}
